body{
    margin: 0;
    padding: 0;
    background-color: green;
}

/* wspolny styl obramowania dla klasy box */
.border{
    border-style: solid;
    border-width: 4px;
    border-color: black;
}

/* Utworzenie siatki 3x2 dla elementów:
'header' - nagłówek
'square-container' - div zawierający kwadraty
'rectangle-container' - div zawierajacy 2 prostokaty z kwadratem
'text-container' - div zawierajacy tekst "ABC"
*/

.grid {
    display:grid;
    height:100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 1fr;
    grid-template-areas:
        'header header header'
        'square-container rectangle-container text-container'
    ;
}

.header{
    grid-area: header;
    background-color: #808000;
}
.squares-container{
    grid-area: square-container;
    position: relative;
}
.rectangle-container{
    grid-area: rectangle-container;
}
.text-container{
    grid-area: text-container;
    margin:5% 5% 5% 20%;
}

/* div inline-block sluzacy jako wrapper do ulozenia kwadratow oraz obrocenia ich o 45 stopni */
.square{ 
    display: inline-block;
    position: absolute;
    top:2%;
    left:15%;
    transform: rotate(45deg);
}

.squares{
    background-color: red;
    width: 100px;
    aspect-ratio: 1/1;
}
#square1{
    margin-bottom: 10%;
}
#square2{
    margin-top:10%
}

/* div grid sluzacy do prawidlowego rozmieszczenie elementów w siatce i zachowania proporcji miedzy nimi */
.content-grid{ 
    display:grid;
    position:relative;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'rectangle1 circle'
        'rectangle2 circle'
    ;
    height:50%;
    row-gap: 20px;
}
.rectangle{
    background-color: blue;
    width:90%;
    display:block;
    height:30px;
    margin-left: 5px;
    position: absolute;
}

/* Ulozenie prostokatów wzgledem polozenia siatki */
#rectangle1{
    grid-area: rectangle1;
    bottom:0
}
#rectangle2{
    grid-area: rectangle2;
    top:0;
}
.circle{
    background-color: #008080;
    grid-area:circle;
    width:100px;
    aspect-ratio: 1/1;
    margin:10%;
    border-radius:50%
}
.text-box{
    position: relative;
    background-color: white;
    height:100%;
    width:100%
}
.text-box > h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 34px;
}

/* Zmiana siatki dla rozdzielczosci mniejszej niz 583px */
@media (width < 583px){
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 5% 35% 10% 50%;
        grid-template-areas: 
            'header'
            'square-container' 
            'rectangle-container'
            'text-container'
        ;
    }
    .text-box{
        background-color: blue;
    }
}

/* Zmiana siatki dla rozdzielczosci wiekszej badz rownej niz 583px i wiekszej badz rownej 900px*/
@media (583px <= width <= 900px){
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5% 1fr 1fr;
        grid-template-areas: 
            'header header'
            'square-container text-container' 
            'rectangle-container text-container'
        ;
    }
    .text-box{
        background-color: #c83737;
    }
}

/* Animacja obrotu kwadratow */
.squares{
    animation: rotation 1.5s infinite;
}
@keyframes rotation {
    100%{transform: rotate(90deg);}

}

/* Animacja zamiany miejsc prostokatow */
#rectangle1{
    animation: MoveY1 3s infinite
}
#rectangle2{
    animation: MoveY2 3s infinite
}
@keyframes MoveY1{
    0%{transform: translateY(0px);}
    50%{transform: translateY(60px);}
    100%{transform: translateY(0px);}
} 
@keyframes MoveY2{
    0%{transform: translateY(0px);}
    50%{transform: translateY(-60px);}
    100%{transform: translateY(0px);}
} 

/*Animacja zmiany skali kola */
.circle{
    animation: resize 3s infinite;
}
@keyframes resize{
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

/* Animacja migania tekstu */
.text-box > h1{
    animation: text-blink 2.5s infinite;
}
@keyframes text-blink{
    50% {opacity: 0;}
    100%{opacity: 1;}
}